* { }

/* The device container*/
.phoneContainer {
    position: absolute;
    top: 20%;
    right: 20%;
}

/* The device with borders */
.smartphone {
  position: relative;
  width: 380px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 375px;
  height: 640px;
  background: white;
}

img {
    width: 400px;
    height: auto;
    margin: auto;
}

nav.webpage {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 8vh;
    display: flex;
    background-color: #359C8C;
    /* background: linear-gradient(180deg, rgba(53, 156, 140,1), rgba(53, 156, 140,0.7)); */
    box-shadow: 0 2px 7px 0px rgba(121, 120, 119, 0.74);
}

.webpage .rowNav {
    display: flex;
    justify-content: space-between;
    /*padding: 0 1em;*/
    align-items: center;
}

/* icons in top bar*/

.webpage .topbar {
    width: 100%;
}

.webpage .topbar li {
    color: #022B3A;
    font-size: 2em;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

/* pts & timer in top bar*/

.webpage .topbar li h4 {
    font-size: 2em;
    margin: 0 0.5em;
}

#mainContainer {
    margin-top: 8.4vh
}

.section{
    height: 100vh;
    display: block;
    display: flex;
}

.containerWhite {
    border-radius: 5px;
    background-color: #f2f2f2;
    position: relative;
    height:90%;
    width:94%;
    margin:auto;
}

.containerOrange {
    border-radius: 5px;
    background-color: rgba(255, 119, 35, 0.74);
    padding: 20px;
    position: relative;
    width: 100%;
}

.containerGreen {
    border-radius: 5px;
    background-color: #359c8c;
    padding: 20px;
    position: relative;
    width: 100%;
}

/* Social Nav */
.socialNav {
    display: inline-block;
    box-sizing: border-box;
}

.logo {
  width: 3vw;
  padding: 2px;
  margin: auto;
}

#socialNav nav li {
    list-style: none;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
}

#socialNav nav ul {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
}
