/*************** Mobile First - no grid Support ***************/

.hide {
    display: none !important;
}

input,
textarea,
select {
    -webkit-appearance: none;
}

input,
textarea,
select:focus {
    outline: none;
}

select {
    width: 400px;
    text-align-last: center;
    line-height: inherit !important;
}

/******* Text Styles *******/

body {
    font-size: 1.2em;
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Numans', sans-serif;
}

p {
    margin: 0.5em;
}

.stat {
    font-size: 0.9em;
    font-weight: 600;
    margin: 0;
}

.info {
    font-size: 0.75em;
    padding: 2em 10vw;
}

.titleText {
    color: #FFA975;
}

#wordToGuess {
    color: white;
    font-family: 'NTR', sans-serif;
    padding: 0 0.5em;
    margin: 20 0;
    line-height: 90%;
    font-weight: lighter;
    font-size: 3em;
}

#answer {
    margin: 0.5em auto;
    flex-wrap: nowrap;
    display: flex;
}

.answer {
    font-family: 'Poiret One', cursive;
    width: 80%;
    height: 1.5em;
    font-size: 1.7em;
    line-height: 170%;
    text-align: center;
    margin: 0.15em auto;
    border: solid rgba(255, 119, 35, 0.74) 0.1em;
    border-radius: 0.1em;
}

.answer #username:focus {
    outline: none;
}

.title {
    flex: 1;
}

/******* Image Styles *******/

/* make home icon white*/

#home {
    color: white;
}

svg {
    width: 3em;
    height: 3em;
    fill: #022B3A;
}

.fillclass {
    fill: #022B3A;
}

/* make pencil svg slightly smaller to fit rest*/

.smaller {
    width: 2em;
    height: 2em;
    margin-left: 0.2em;
}

.larger {
    width: 10em;
    height: 10em;
}


/* loader */

.loader {
    left: 50%;
    top: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader #ud811Spinner {
    box-sizing: border-box;
    stroke: #359C8C;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
    animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@-webkit-keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

/******* Layout Styles *******/

.center {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.half-space {
    width: 40vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: start;
    list-style: none;
}

.half-space div {
    margin: auto;
}

#timer {
    padding: 0 0.8em;
}

#content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.innerContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
    flex-wrap: wrap;
    /* flex: 1; */
}

.card {
    margin: 1em;
    display: flex;
    background-color: #359C8C;
    flex-direction: column;
    border-bottom: 0.5em #F2F4F3 solid;
    border-radius: 0.5em;
    padding: 1em 0 0 0;
    box-shadow: 11px 12px 9px 0px #359c8c57;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1.5s cubic-bezier(0.15, 0.77, 0.58, 1);
}

.card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}


.card .back {
    -webkit-transform: rotatey(180deg);
    background-color: #359C8C;
    color: black;
    cursor: pointer;
}

.card.flipped {
    -webkit-transform: rotatey(-360deg);
}

.halfCircle {
    padding: 5% 0 0 0;
    width: 100%;
    border-radius: 90px 90px 0 0;
    background: #F2F4F3;
}

.addVocab {
    height: fit-content;
    margin: 1em;
    display: flex;
    background-color: #F2F4F3;
    flex-direction: column;
    border-radius: 0.5em;
    padding: 1em 0 0 0;
    box-shadow: 11px 12px 9px 0px #359c8c57;
}

.addVocab .pageLink {
    width: 80%;
    padding: 0;
}

input[type="radio"] {
    -webkit-appearance: radio;
}

.half-space div input {
    border-radius: 20%;
    font-size: xx-large;
    padding: 4%;
    width: 10vw;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#vocabList {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    padding-bottom: 4vh;
}

#vocabList li {
    color: #ffa975;
    border-top: 1em #359C8C solid;
    border-bottom: antiquewhite 2.5em solid;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

#vocabList li:hover {
    flex: 2;
}

#vocabList li h4 {
    padding: 0;
    margin: 0;
}

.footer {
    margin: 2vh 0;
    height: 10vh;
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 8vh;
    margin: auto;
    background-color: #F0F0C9;
    border: solid 0.1em #F2BB05;
    border-radius: 0.5em;
}

/******* Nav Styles *******/

nav {
    height: 3em;
    display: flex;
    background-color: #359C8C;
    /*background: linear-gradient(180deg, rgba(53, 156, 140,1), rgba(53, 156, 140,0.7));*/
    box-shadow: 0px 2px 7px 1px rgba(121, 120, 119, 0.74);
    transition: all 2s ease; 
}

.rowNav {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    align-items: center;
}

/* icons in top bar*/

.topbar {
    width: 100%;
}

.topbar li {
    color: #022B3A;
    font-size: 1.5em;
    flex: 1;
    display: flex;
    justify-content: center;
    width: fit-content;
}

/* pts & timer in top bar*/

.topbar li h4 {
    font-size: 0.75em;
    margin: 0 0.5em;
}

.pageLink {
    box-sizing: border-box;
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex: 2;
    /* flex-shrink: 1; */
    flex-flow: inherit;
}

.pageLink p {
    padding-left: 1em;
    min-width: 8em;
    text-align: left;
}

.pageLink button {
    margin: 1em;
}

/******* PopUp Styles *******/

.popUp {
    border: 0.2em solid;
    border-color: yellow;
    border-radius: 0.25em;
    background: rgb(255, 255, 255);
    height: max-content;
    width: 80%;
    margin: auto;
    padding: 0.5em;
    position: absolute;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 1.5s ease;
}

.popUpFadeOut {
    opacity: 0;
    transform: scale(0.8);
}

.popUp p {
    font-size: 0.65em;
    padding: 3em;
    padding-top: 2em;
    position: fixed;
    top: 7em;
    left: 4.5em;
    z-index: 0;
    width: 55vw;
    height: 22vh;
    border-radius: 5em;
    margin: auto;
    background: antiquewhite;
}

.cross {
    width: 100%;
    text-align: right;
}

/******* Keyboard up when Input in focus Styles (Mobile only) *******/

.keyboardUp #Instruct h3 {
    display: none;
}

nav.keyboardUp{
    position: absolute;
    bottom: 110vh;
    width: 100%;
}

.keyboardUp {
   
}

.keyboardUp  {
}

.keyboardUp  {
    
}


/*************** With grid Support ***************/

/*************** Media Query Small Screen ***************/

/******* Text Styles *******/

/******* Image Styles *******/

/******* Layout Styles *******/

/******* Nav Styles *******/

/*************** With grid Support **************

font-family: 'Numans', sans-serif;
font-family: 'Nova Round', cursive;
font-family: 'Orbitron', sans-serif;

*/

/*************** Media Query Medium Screen ***************/

@media screen and (min-width: 951px) {

    /******* Text Styles *******/
    /******* Image Styles *******/
    /******* Layout Styles *******/
    .banner {
        width: 60vw;
    }

    #content {
        max-width: 500px;
        margin: auto;
    }


    /******* Nav Styles *******/
    .topbar {
        width: 400px;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }

    #home {
        color: white;
        position: fixed;
        left: 2vw;
    }

    /*************** With grid Support ***************/
}

/*************** Media Query Large Screen ***************/

/******* Text Styles *******/

/******* Image Styles *******/

/******* Layout Styles *******/

/******* Nav Styles *******/

/*************** With grid Support ***************/
